@model ErrorViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/error.css" rel="stylesheet" />
</head>
<body>
    <h5>Erro interno!</h5>
    <h1></h1>
    <h1>00</h1>
    <div class="box">
        <span></span><span></span>
        <span></span><span></span>
        <span></span>
    </div>
    <div class="box">
        <span></span><span></span>
        <span></span><span></span>
        <span></span>
    </div>
    <p>
        Estamos tentando entender o que pode ter acontecido. Retorne à
        <br />
        <a href="/Home/Index">página anterior</a>
        ou entre mais tarde.
    </p>
    @if (Model.ShowRequestId)
    {
        <p class="request">
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</body>
</html>