html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #8acdeb;
}

span {
    font-family: serif;
    font-size: medium;
    font-style: italic;
}

.panel {
    background: white;
    margin-top: 1rem;
}

.arrow-R {
    background: none;
    border: none;
    transform: rotate(180deg);
    position: absolute;
    right: 0;
    bottom: 50%;
}

.arrow-L {
    background: none;
    border: none;
    position: absolute;
    left: 0;
    bottom: 50%;
}