@model VehicleManager.Domain.Models.User

@{
    bool isAdmin = Model != null && Model.isAdmin;
}

<link href="~/css/animation.css" rel="stylesheet" />

<div class="text-center">
    @if (isAdmin == false)
    {
		<div id="container">
			<div class="steam" id="steam1"> </div>
			<div class="steam" id="steam2"> </div>
			<div class="steam" id="steam3"> </div>
			<div class="steam" id="steam4"> </div>

			<div id="cup">
				<div id="cup-body">
					<div id="cup-shade"></div>
				</div>
				<div id="cup-handle"></div>
			</div>

			<div id="saucer"></div>

			<div id="shadow"></div>
		</div>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
