@model VehicleManager.Domain.Models.User

@{
    bool isAdmin = Model != null && Model.isAdmin;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<link href="~/css/animation.css" rel="stylesheet" />
</head>
<body>
	<div class="text-center">
		@if (isAdmin == true)
		{
			<div>
				<h2 class="title">Selecione o item que deseja cadastrar abaixo:</h2>
			</div>

			<div class="containerr">
				<div class="column">
					<a href="/Fuel/Index" class="button">Combustível</a>
				</div>
				<div class="column">
					<a href="/Color/Index" class="button">Cor</a>
				</div>
				<div class="column">
					<a href="/Vehicle/Index" class="button">Veículo</a>
				</div>
			</div>
		}
		else
		{
			<div>
				<h2>Bem vindo usuário!</h2>
			</div>

			<div id="container">
				<div class="steam" id="steam1"> </div>
				<div class="steam" id="steam2"> </div>
				<div class="steam" id="steam3"> </div>
				<div class="steam" id="steam4"> </div>

				<div id="cup">
					<div id="cup-body">
						<div id="cup-shade"></div>
					</div>
					<div id="cup-handle"></div>
				</div>

				<div id="saucer"></div>

				<div id="shadow"></div>
			</div>

			<div class="mt-25">
				<span>Infelizmente você não tem privilégios de administrador.</span> <br />
				<span>Mas tudo bem, você ainda pode apreciar esse template bacana.</span>
			</div>
		}
	</div>
</body>
</html>